{
  "extends": "sbs/script",
  "parserOptions": {
    "project": ["./tsconfig.json", "./packages/*/tsconfig.json"]
  },
  "settings": {
    "import/resolver": {
      "workspaces": {
        "extensions": [".mjs", ".js", ".ts", ".tsx", ".json", ".css"],
        "sources": {
          "@amfa-team/broadcast-service-types": ["./packages/types/src"],
          "@amfa-team/broadcast-service": ["./packages/react/src"]
        }
      }
    },
    "targets": ["Chrome >= 70", "Edge >= 18", "Firefox >= 64", "Safari >= 12"]
  },
  "rules": {
    "no-console": "off"
  }
}
