@value mediaQueries: '../theme/mediaQueries.module.css';
@value desktop, smartphonePortrait, smartphoneLandscape from mediaQueries;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cgu {
  text-align: center;
  background-color: white;
  padding: 10px;
  width: 100%;
}

@media smartphonePortrait, smartphoneLandscape {
  .cgu {
    z-index: 1000;
    font-size: 0.8em;
  }
}

@media desktop {
  .joinContainer {
    margin-top: 20px;
    width: 400px;
    height: 50px;
    display: grid;
  }
}

@media smartphonePortrait, smartphoneLandscape {
  .joinContainer {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: grid;
  }
}
